<ion-view view-title="Details"  ng-init="initialize()">
  <ion-content>

 	<div class="card" style=" padding: 7px;" ng-hide={{stat1}}>

 	 <div class="row">
        <div class="col col-50">
            <img ng-src={{img1}} width="100%" style="height: 109px;" />
        </div>
        <div class="col col-50">
            <img ng-src={{img2}} width="100%" style="height: 109px;" />
        </div>
 </div>
		<b>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>
    <p>{{name}}</p>
		<b>Details &nbsp;&nbsp;&nbsp;&nbsp;: </b>
    <p style="text-align: justify;">{{details1}}</p> <br />
    <p style="text-align: justify;">{{details2}}</p> <br />

 </div>


    <div class="card" style=" padding: 7px;" ng-repeat="data in data" ng-hide={{stat2}}>
 	 <div class="row">
        <div class="col col-100">
            <img ng-src={{data.url}} width="100%" style="height: 109px;" />
        </div>
 </div>
		<b>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>
    <p>{{data.name}}</p>
		<b>Details &nbsp;&nbsp;&nbsp;&nbsp;: </b>
    <p style="text-align: justify;">{{data.details}}</p> <br />

</div>


        <div class="item item-divider" style="background-color: #387ef5; color: white">
    Map
  </div>
      <div style="width:100%; height:70%;" id="map3" data-tap-disabled="true"></div>


  </ion-content>
</ion-view>
