<ion-view view-title="Attraction">
  <ion-content>

 <ion-list>

         <div ng-click="goDetails(771)">
            <img ng-src="img/a1_1.jpg" width="100%" height="250px" style="margin-top: -1px;">
            <p class="resStyle">Kolam Pancing Sg Apong,Sabak Bernam</p>
		</div>
    </ion-list>

     <ion-list ng-repeat="data in data">

         <div ng-click="goDetails({{data.id}})">
            <img ng-src={{data.url}} width="100%"  height="250px" style="margin-top: -1px;">
            <p class="resStyle">{{data.name}}</p>
        </div>
    </ion-list>

  </ion-content>
</ion-view>
