<ion-view view-title="Feedback">
  <ion-content>
  <br />
  <div align="middle">
  <h3>Write a Feedback</h3>
  </div>
  <div class="card">
<div class="list">
   <label class="item item-input item-floating-label">
   <span class="input-label">Name</span>
   <input type="text" placeholder="Name">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Email</span>
   <input type="text" placeholder="Email">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label">Feedback Title</span>
   <input type="text" placeholder="Feedback Title">
   </label>
   <label class="item item-input item-floating-label">
   <span class="input-label">Message</span>
    <textarea rows="13" cols="50" placeholder="Message">
    </textarea>
   </label>

</div>
</div>
<div align="center">
    <button class="button button-positive" style="color:white;" ng-click="doFeedback()">Send Feedback</button>

</div>
  </ion-content>
</ion-view>
