<ion-view view-title="Gallery">
  <ion-content>

      <div class="list card" style="margin-top: 8px;"> 

 <div class="row">
        <div class="col col-50">
            <img ng-src="img/login_bg.jpg" width="100%" height="100px" />
        </div>
        <div class="col col-50">
            <img ng-src="img/a1_1.jpg" width="100%" height="100px" />
        </div>
 </div>
  <div class="row">
        <div class="col col-100">
            <img ng-src="img/m1_1.jpg" width="100%" />
        </div>
 </div>
  <div class="row">
        <div class="col col-25">
            <img ng-src="img/m1_2.jpg" width="100%" height="50px"/>
        </div>
        <div class="col col-25">
            <img ng-src="img/r1_1.JPG" width="100%" height="50px"/>
        </div>
         <div class="col col-25">
            <img ng-src="img/r2_1.jpg" width="100%" height="50px"/>
        </div>
        <div class="col col-25">
            <img ng-src="img/r3_1.jpg" width="100%" height="50px"/>
        </div>
 </div>
   <div class="row" ng-repeat="data in data">
        <div class="col col-100" height="100px">
            <img ng-src={{data.url}} width="100%" />
        </div>
 </div>

 </div>

  </ion-content>
</ion-view>
