<ion-view view-title="Home">
<ion-content scroll="true">
  <ion-slides  options="options" slider="" style="height: 450px;">
    <ion-slide-page>
      <div>
      <img src="img/home2.png" style="max-width: 600px; height:auto"/>
      </div>
    </ion-slide-page>
    <ion-slide-page>
      <div>
      <img src="img/home1.jpg" style=" max-width: 800px;"/>
      </div>
    </ion-slide-page>
        <ion-slide-page>
      <div>
       <img src="img/home11.JPG" style="max-width: 600px; height: 500px;"/>
      </div>
    </ion-slide-page>
        <ion-slide-page>
      <div>
       <img src="img/home22.JPG" style="max-width: 600px; height: 500px;"/>
      </div>
    </ion-slide-page>
            <ion-slide-page>
      <div>
       <img src="img/home33.JPG" style="max-width: 600px; height: 500px;"/>
      </div>
    </ion-slide-page>
            <ion-slide-page>
      <div>
       <img src="img/home44.jpg" style="max-width: 940px; height: 449px;"/>
      </div>
    </ion-slide-page>
  </ion-slides>
  <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/QBdyjrCwzKA" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div><br />
</ion-content>
</ion-view>
