<ion-view view-title="">
  
  <ion-content  style="background-image: url('img/login_bg2.jpg'); background-size: 110% 110%;" overflow-scroll="false">
  <div align="center" style="margin-top:141px;" ng-click="doGuest()">
<img src="img/logo.png" width="73%" height="73%">
  </div>
 
      <form>
   <div class="card">

  <label class="item item-input">
    <i class="icon ion-person placeholder-icon"></i>
    <input type="text" placeholder="Username" ng-model="loginData.usrName">
  </label>

    <label class="item item-input">
    <i class="icon ion-android-lock placeholder-icon"></i>
    <input type="password" placeholder="Password" ng-model="loginData.usrPass">
  </label>


  </div>
  <br />
  <div align="center" width="100%">
 
  </div>  
  </form>
      <div class = "row center" style="bottom:0; margin-top: -22px;">
        <div class="col text-right">
<button class="button button-positive" ng-click="doRegister()">
  Register
</button>
        </div>
        <div class="col text-left">
<button class="button button-assertive" ng-click="doLogin()">
  Sign in
</button>
        </div>
      </div>
        <br />  <br />  <br />  <br />  <br />  <br />  <br />  <br />
      <div style="color: white;" align="bottom" ng-click="doAbout()">

      </div>

<div class="flex" style="margin-top: -70px;">
  <div class="loginText" ng-click="doAbout()">About Us</div>
  <div class="loginText" ng-click="doHelp()">Help</div>
</div>

   </ion-content>

</ion-view>