<ion-view view-title="Market">
  <ion-content>
 <ion-list>

         <div ng-click="goDetails(881)">
            <img ng-src="img/m1_1.jpg" width="100%" height="280px" style="margin-top: -1px;">
            <p class="resStyle">Pasar Awam Sungai Besar</p>
		</div>
         <div ng-click="goDetails(882)">
            <img ng-src="img/m2_1.png" width="100%" height="280px" style="margin-top: -1px;">
            <p class="resStyle">Pasar Awam Pekan Sabak</p>
        </div>
         <div ng-click="goDetails(883)">
            <img ng-src="img/m3_1.png" width="100%" height="300px" style="margin-top: -1px;">
            <p class="resStyle">Pasar Awam Sekinchan</p>
        </div>
    </ion-list>

     <ion-list ng-repeat="data in data">

         <div ng-click="goDetails({{data.id}})">
            <img ng-src={{data.url}} width="100%" style="margin-top: -1px;">
            <p class="resStyle">{{data.name}}</p>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
