<ion-view view-title="Menu List">
  <ion-content>

        <ion-item class="item item-text-wrap">
          <div>
          <img ng-src="img/r1_5.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #097096;"><b>Rendang porcupine</b></h2>
            <br />
          </div>
          <div>
          <img ng-src="img/r1_6.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #097096;"><b>Chillied deer meat</b></h2>
            <br />
          </div>
          <div>
          <img ng-src="img/r1_7.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #097096;"><b>Fried freshwater prawn</b></h2>
            <br />
          </div>
           <div>
          <img ng-src="img/r2_4.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #097096;"><b>Mee Udang Special</b></h2>
            <br />
          </div>
           <div>
          <img ng-src="img/r2_5.jpg" width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #097096;"><b>Mee Udang Biasa</b></h2>
            <br />
          </div>
          <div>
          <img ng-src="img/r2_6.jpg" width="100%" height="260px">
            <h2 style="padding-bottom: 4px; color: #097096;"><b>Mee Udang Potek</b></h2>
            <br />
          </div>                            
        </ion-item>

        <ion-item class="item item-text-wrap" ng-repeat="data in data">
          <div>
          <img ng-src={{data.url}} width="100%" height="40%">
            <h2 style="padding-bottom: 4px; color: #097096;"><b>{{data.name}}</b></h2>   
            <p>{{data.details}}</p>                   
        </ion-item>

  </ion-content>
</ion-view>
