<ion-side-menus enable-menu-with-back-views="false" >
  <ion-side-menu-content >
    <ion-nav-bar class="bgColor">
          <ion-nav-back-button style="color:white;">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button-icon burgerMenu ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list ng-hide="stat1">
        <ion-item menu-close href="#/app/home">
          <i class="icon ion-home" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          <i class="icon ion-android-person" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Profile
        </ion-item>
        <ion-item menu-close href="#/app/restaurant">
          <i class="icon ion-android-restaurant" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Restaurant
        </ion-item>
        <ion-item menu-close href="#/app/market">
          <i class="icon ion-ios-cart" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Market
        </ion-item>
        <ion-item menu-close href="#/app/attraction">
          <i class="icon ion-android-star" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attraction
        </ion-item>
        <ion-item menu-close href="#/app/transport">
          <i class="icon ion-android-bus" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accommodation
        </ion-item>
        <ion-item menu-close href="#/app/gallery">
          <i class="icon ion-images" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gallery
        </ion-item>
        <ion-item menu-close href="#/app/tips">
          <i class="icon ion-ios-lightbulb" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tips
        </ion-item>
        <ion-item menu-close href="#/app/menuList">
          <i class="icon ion-android-restaurant" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Menu List
        </ion-item>
        <ion-item menu-close href="#/app/upload">
         <i class="icon ion-android-upload" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Upload
        </ion-item>
        <ion-item menu-close href="#/app/feedback">
         <i class="icon ion-email" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Feedback
        </ion-item>
        <ion-item menu-close href="#/app/login" ng-click="doLogout()">
         <i class="icon ion-log-out" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sign Out
        </ion-item>
      </ion-list>

      <ion-list ng-hide="stat2">
        <ion-item menu-close href="#/app/home">
          <i class="icon ion-home" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home
        </ion-item>
        <ion-item menu-close href="#/app/restaurant">
          <i class="icon ion-android-restaurant" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Restaurant
        </ion-item>
        <ion-item menu-close href="#/app/market">
          <i class="icon ion-ios-cart" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Market
        </ion-item>
        <ion-item menu-close href="#/app/attraction">
          <i class="icon ion-android-star" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attraction
        </ion-item>
        <ion-item menu-close href="#/app/transport">
          <i class="icon ion-android-bus" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accommodation
        </ion-item>
        <ion-item menu-close href="#/app/gallery">
          <i class="icon ion-images" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gallery
        </ion-item>
        <ion-item menu-close href="#/app/tips">
          <i class="icon ion-ios-lightbulb" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tips
        </ion-item>
        <ion-item menu-close href="#/app/menuList">
          <i class="icon ion-android-restaurant" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Menu List
        </ion-item>
        <ion-item menu-close href="#/app/feedback">
         <i class="icon ion-email" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Feedback
        </ion-item>
        <ion-item menu-close href="#/app/login">
         <i class="icon ion-log-out" style="color: #097096;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sign Out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
