<ion-view view-title="Profile">
  <ion-content>

      <div class = "row center" style="bottom:0; margin-top: 4px;">
        <div class="col text-right" style="padding-right: 22px;">
  		  <img ng-src={{url}} width="100px" height="100px">
        </div>
        <div class="col text-left" style="margin-top: 13px;">
{{name}} <br />
{{address}}
        </div>
      </div>

      <div class="list card"> 

  <a class="item item-icon-left">
    <i class="icon ion-map positive" style="
    padding-left: 10px;
    margin-left: -11px;
    background: #097096;
    color: white;
    padding-right: 10px"></i>
    &nbsp;&nbsp;
<span style="font-size: 35px; color: #097096">☆</span>
<span style="font-size: 35px; color: #097096">☆</span>
<span style="font-size: 35px; color: #097096">☆</span>
<span style="font-size: 35px; color: #097096">☆</span>
<span style="font-size: 35px; color: #097096">☆</span>
<span style="font-size: 35px; color: #097096">☆</span>

  </a>

</div>

      <div class="list card" ng-repeat="data in data"> 

 <div class="row">
        <div class="col col-100">
            <img ng-src={{data.url}} width="100%" />
        </div>

 </div>


</div>

  </ion-content>
</ion-view>
