<ion-view>
  <ion-content style="background-color: #097096;" overflow-scroll="false">
  <br />
  <div>
  <center><h4 style="color:white;">Register new account</h4>
  </div>
                <form>
                <div class="card" style="margin-bottom: -17px; padding: 6px">
   Upload your picture at http://tinypic.com/ and paste the link for "Direct Link for Layouts" below :
  <label class="item item-input">
    <input type="text" ng-model="registerData.url" placeholder="Url">
  </label>
   </div>

  <div class="card" style="margin-top: 10px;">


<div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
     Company Type
    </div>
    <select ng-model="registerData.type">
      <option selected>Market</option>
      <option>Attraction</option>
      <option>Restaurant</option>
            <option>Transportation</option>

    </select>
  </label>
</div>

   <label class="item item-input item-floating-label">
   <span class="input-label" >Company Name</span>
   <input type="text" placeholder="Company Name" ng-model="registerData.name">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label" >Company Address</span>
   <input type="text" placeholder="Company Address" ng-model="registerData.address">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label" >Username</span>
   <input type="text" placeholder="Username" ng-model="registerData.username">
   </label>

   <label class="item item-input item-floating-label">
   <span class="input-label" >Password</span>
   <input type="password" placeholder="Password" ng-model="registerData.password">
   </label>


</div>

</div>
      </form>
<br/>
        <div align="center">
            <button class="button button-normal button-balanced icon-left" ng-click="doRegister()"><ion-icon class="ion-checkmark">
            Register</button>
        </div>


  </ion-content>
</ion-view>
