<ion-view view-title="Restaurant">
  <ion-content>
 <ion-list>

         <div ng-click="goDetails(991)">
            <img ng-src="img/r1_1.JPG" width="100%" style="margin-top: -1px;">
            <p class="resStyle">Restoran Lembah Bernam</p>
		</div>

         <div ng-click="goDetails(992)">
            <img ng-src="img/r2_1.jpg" width="100%">
            <p class="resStyle">Mee Udang King Original</p>
		</div>

         <div ng-click="goDetails(993)">
            <img ng-src="img/r3_3.jpg" width="100%">
            <p class="resStyle">Laksa Pantai Zaiton</p>
		</div>

        <div ng-click="goDetails(994)">
            <img ng-src="img/home1.jpg" width="100%">
            <p class="resStyle">Restoran Dorani Bayu Resort</p>
        </div>

    </ion-list>

     <ion-list ng-repeat="data in data">

         <div ng-click="goDetails({{data.id}})">
            <img ng-src={{data.url}} width="100%" style="margin-top: -1px;">
            <p class="resStyle">{{data.name}}</p>
        </div>
    </ion-list>

  </ion-content>
</ion-view>
