<ion-view view-title="Tips">
  <ion-content>
 <ion-list>

         <div ng-click="goDetails(661)">
            <img ng-src="img/t1_1.jpg" width="100%" height="250px" style="margin-top: -1px;">
            <p class="resStyle">How To Choose A Fresh Fish</p>
		</div>
		<div ng-click="goDetails(662)">
            <img ng-src="img/t2_1.jpg" width="100%" height="250px" style="margin-top: -1px;">
            <p class="resStyle">Mentarang</p>
		</div>
        <div ng-click="goDetails(663)">
            <img ng-src="img/t3_1.jpg" width="100%" height="250px" style="margin-top: -1px;">
            <p class="resStyle">Five-Spice Crisp-Fried Squid</p>
        </div>
        <div ng-click="goDetails(664)">
            <img ng-src="img/t4_1.jpeg" width="100%" height="250px" style="margin-top: -1px;">
            <p class="resStyle">Chilli crab</p>
        </div>
        <div ng-click="goDetails(665)">
            <img ng-src="img/t5_1.jpeg" width="100%" height="250px" style="margin-top: -1px;">
            <p class="resStyle">Fish Tacos</p>
        </div>
        <div ng-click="goDetails(666)">
            <img ng-src="img/t6_1.jpg" width="100%" height="250px" style="margin-top: -1px;">
            <p class="resStyle">Little Gem cups with prawn & mango salsa</p>
        </div>
        <div ng-click="goDetails(667)">
            <img ng-src="img/t7_1.png" width="100%" height="250px" style="margin-top: -1px;">
            <p class="resStyle">Rastrelliger (ikan kembung)</p>
        </div>
        <div ng-click="goDetails(668)">
            <img ng-src="img/t8_1.png" width="100%" height="125px" style="margin-top: -1px;">
            <p class="resStyle">Torpedo scad (ikan cencaru)</p>
        </div>
        <div ng-click="goDetails(669)">
            <img ng-src="img/t9_1.jpg" width="100%" height="250px" style="margin-top: -1px;">
            <p class="resStyle">Barramundi(ikan siakap)</p>
        </div>
        <div ng-click="goDetails(670)">
            <img ng-src="img/t10_1.png" width="100%" height="250px" style="margin-top: -1px;">
            <p class="resStyle">Crab (ketam)</p>
        </div>
    </ion-list>

     <ion-list ng-repeat="data in data">

         <div ng-click="goDetails({{data.id}})">
            <img ng-src={{data.url}} width="100%"  height="250px" style="margin-top: -1px;">
            <p class="resStyle">{{data.name}}</p>
        </div>
        
    </ion-list>
  </ion-content>
</ion-view>
