<ion-view view-title="Tips Details">
  <ion-content overflow-scroll="true">
<div ng-hide={{vid}} style="position:relative;height:0;padding-bottom:56.25%">
<iframe src={{vidUrl}} width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
      <div class="list card" ng-hide="{{stat1}}"> 

 <div class="row">
        <div class="col col-100">
            <img ng-src={{img1}} width="100%" />
        </div>
 </div>

  <div class="row">
<!--         <div class="col col-100">
            <img ng-src={{img2}} width="100%" />
        </div>
 </div> -->

  <div style="padding: 6px;">
  <b>{{name}}</b><br />
      <p style="text-align: justify;">{{details1}}</p> 
      <p style="text-align: justify;">{{details2}}</p> 
      <p style="text-align: justify;">{{details3}}</p> 
      <p style="text-align: justify;">{{details4}}</p> 
      <p style="text-align: justify;">{{details5}}</p> 
 </div>
 </div>



       <div class="list card" ng-hide="{{stat2}}" ng-repeat="data in data"> 

 <div class="row">
        <div class="col col-100">
            <img ng-src={{data.url}} width="100%" />
        </div>
 </div>



  <div style="padding: 6px;">
  <b>{{data.name}}</b><br />
      <p style="text-align: justify;">{{data.details}}</p> 
 </div>
 </div>


  </ion-content>
</ion-view>
