<ion-view view-title="Accommodation">
  <ion-content>


  <div class="list card"> 
  	<div class="item item-avatar" ng-click="goDetails(1)">
    <img src="img/aco_ico.png">
    <h2>Homestay Hj. Dorani</h2>
    <p>No 3 Kampong Hj Dorani, 45300 Sungai Besar, Selangor</p>
 	</div>

  	<div class="item item-avatar" ng-click="goDetails(2)">
    <img src="img/aco_ico.png">
    <h2>Homestay Air Manis</h2>
    <p>Lot 2257 Jalan Hj. Marsor, Kg. Batu 37 Darat, 45200 Sabak Bernam Selangor</p>
 	</div>

  	<div class="item item-avatar" ng-click="goDetails(3)">
    <img src="img/aco_ico.png">
    <h2>Homestay Batu 23, Sg. Nibong</h2>
    <p>Jalan Tengah Masjid, Sungai Nibong, 45400 Sekinchan, Selangor </p>
 	</div>

  	<div class="item item-avatar" ng-click="goDetails(4)">
    <img src="img/aco_ico.png">
    <h2>Homestay Papitusulem</h2>
    <p>Balai Raya Parit 7 Baroh, Sungai Leman, 45400 Sekinchan, Sabak Bernam, Selangor 
</p>
 	</div>

</div>
      <div class="list card" ng-repeat="data in data"> 

  <div class="item item-avatar">
    <img src="img/aco_ico.png">
    <h2>{{data.name}}</h2>
    <p>{{data.details}}</p>
  </div>

</div>
  </ion-content>
</ion-view>
