<ion-view view-title="Details"  ng-init="initialize()">
  <ion-content>

 	<div class="card" style=" padding: 7px;">

 	 <div class="row">
        <div class="col col-100">
            <img ng-src={{img}} width="100%" style="height: 100%;" />
        </div>

 </div>
		<b>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </b>
        <p>{{name}}</p>
		<b>Address &nbsp;&nbsp;&nbsp;&nbsp;: </b>
    <p style="text-align: justify;">{{address}}</p> 
    <b>Contact &nbsp;&nbsp;&nbsp;&nbsp;: </b>
	<p style="text-align: justify;">{{phone}}</p>	



 </div>



    </div>
        <div class="item item-divider" style="background-color: #387ef5; color: white">
    Map
  </div>
      <div style="width:100%; height:70%;" id="map3" data-tap-disabled="true"></div>

  </ion-content>
</ion-view>
