<ion-view view-title="Upload">
  <ion-content overflow-scroll="false">
      
  <form>

<div class="card" style="margin-bottom: -17px; padding: 6px">
   Upload your picture at http://tinypic.com/ and paste the link for "Direct Link for Layouts" below :
  <label class="item item-input">
    <input type="text" ng-model="uploadData.url" placeholder="Url">
  </label>
   </div>

  <div class="card" style="margin-top: 10px;">

   <label class="item item-input item-floating-label">
   <span class="input-label" >Item Name</span>
   <input type="text" placeholder="Item  Name" ng-model="uploadData.name">
   </label>

  <label class="item item-input item-select">
    <div class="input-label">
     Category
    </div>
    <select ng-model="uploadData.category">
      <option selected>Tips</option>
      <option>Menu</option>
      <option>Gallery</option>
      <option>Restaurant</option>
      <option>Transport</option>
      <option>Attraction</option>
      <option>Market</option>
      <option>Tips</option>
      <option>Promotion</option>
    </select>
  </label>

   <label class="item item-input item-floating-label">
	<span class="input-label">Item Details</span>
	<textarea placeholder="Item Details" rows="8" cols="15" style="margin-top: 5px;" ng-model="uploadData.details">
	</textarea>
   </label>


</div>

</div>
      </form>
<br/>
        <div align="center">
            <button class="button button-normal button-assertive icon-left"><ion-icon class="ion-android-cancel">
            Cancel</button>
            <button class="button button-normal button-positive icon-left" ng-click="doRegister()"><ion-icon class="ion-checkmark">
            Upload</button>
        </div>
       
  </ion-content>
</ion-view>
