/* Empty. Add your own CSS if you like */
.bgColor {
	background-color: #097096;
	color: white;
}

.burgerMenu {
		color: white;
}

.resStyle {
	    text-shadow: 3px 3px 0 #000, 
    -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: -36px;
    color: white;
    margin-left: 10px;
    font-size: 17px;
}

.loginText {
font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    text-shadow: 2px 2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff, -1px -1px 0 #ffffff;
}

.about {
	text-align: justify;
}

#map {
    width: 100%;
    height: 100%;
}

.left {
}

.right {
  text-align: right /* only needed for the table version */
}

.cell div {
  display: inline-block;
  background: #aaa;
  padding: 1em
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex div {
  padding: 1em
}